.link-active{
    font-weight: 700;
    color: red;
}

header{
    display: flex;
    gap: 1rem;
}

.wrapper{
    margin:50px 300px 30px 300px;
    font-size: 20px;
}

.header-wrapper{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-right: 22px;
}

.main-wrap{
    display: flex;
    margin-top: 30px;
}

.footer{
    margin: 50px 0px 10px 0px;
}

.footer_info{
    display: flex;
    justify-content: space-between;
    margin-top:16px ;
}

@media (min-width: 470px) and (max-width: 1024px) {
    .wrapper{
        margin:50px 100px 30px 100px;
    }
    .header-wrapper{
        margin: 0;
    }
    .footer{
        font-size: 16px;
    }
    
}

@media (max-width: 470px){
    .header-wrapper{
        margin: 0;
    }
    .footer{
        font-size: 16px;
    }
    .wrapper{
        margin:50px 10px 30px 10px;
    }
}